# Navbar title
site_name: ozfortress Docs
# Both site_name and site_url are needed for the configuration file
site_url: https://docs.ozfortress.com/
# Author
site_author: ozfortress
# Site description
site_description: >-
  ozfortress houses all of its documentation for league play, services, guides, FAQs and more within this docs site. 
# Repository
repo_name: ozfortress/ozfortress_docs
# Repisitory URL to link
repo_url: https://github.com/ozfortress/ozfortress_docs
copyright: >
  Copyright &copy; 2022 - 2024 ozfortress
#  <a href="#__consent">Change cookie settings</a>
nav:
    - Home: 'index.md'
    - 'Rulesets':
      - 'Global ruleset': 'rules/global.md'
      - 'Sixes ruleset': 'rules/sixes.md'
      - 'Highlander ruleset': 'rules/highlander.md'
      - 'LAN Downunder Ruleset': 'rules/lan.md'
      - 'Community Guidelines': 'rules/community_guidelines.md'
      - 'User Policy': 'rules/user_policy.md'
      - 'Player Behaviour Infractions': 'rules/infractions.md'
      - 'League Penalties': 'rules/penalties.md'
    - 'League Info':
      - 'About Us': 'info/about_us.md'
      - 'Anti-Cheat & You': 'info/anticheat_and_you.md'
      - 'Bans': 'info/bans.md'
      - 'Ban History': 
        - 'Anti-Cheat Bans': 'info/anticheat_bans.md'
        - 'VAC Bans': 'info/vac_bans.md'
        - 'Infraction Threshold Bans': 'info/infraction_bans.md'
        - 'Other Bans': 'info/other_bans.md'
        - 'Past Bans': 'info/past_bans.md'
      - 'Staff':
        - 'Current & Past Staff': 'info/staff.md'
        - 'Join ozfortress': 'info/join_us.md'
      - 'Transfers': 'info/transfers.md'
      - 'Map History': 'info/map_history.md'
      - 'Server Configs': 'info/server_configs.md'
    - 'Guides':
      - 'Your guide to the guides': 'guides/landing.md'
      - 'Newbie Guide': 'guides/newbie_guide.md'
      - 'Book a Server': 'guides/book_a_server.md'
      - 'Self-managed Servers': 'guides/selfmanaged_servers.md'
    - 'FAQ': 
      - 'Demo Requests': 'faq/demo_requests.md'
    - 'Support & Reporting': 'support/landing.md'
    - 'Back to ozfortress.com': 'https://ozfortress.com'
theme:
  name: 'material'
  custom_dir: overrides
  favicon: 'img/favicon.svg'
  logo: 'img/logo.svg'
  icon:
    repo: fontawesome/brands/github
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
  font:
    text: Inter
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
        primary: custom
        accent: custom

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
        primary: custom
        accent: custom

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
        primary: custom
        accent: custom
  features:
   - announce.dismiss
   - search.highlight
   - search.suggest
   - search.share
   - navigation.instant
   - navigation.tracking
   #- navigation.tabs
   #- navigation.expand
   - navigation.top
   - toc.follow
   - content.tooltips
markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - md_in_html
  - admonition
  - pymdownx.keys
  - pymdownx.details
  - pymdownx.betterem
  - toc:
      permalink: true
plugins:
  - privacy
  - search
  - glightbox
  - git-revision-date-localized:
      type: timeago
      enable_creation_date: true
      fallback_to_build_date: true # remove this prior to launch
extra:
  consent:
    #cookies:
      #analytics: github
    #actions:
      #- accept
      #- manage
    #title: Cookie consent
    #description: >- 
      #We use cookies to recognize your repeated visits and preferences, as well
      #as to measure the effectiveness of our documentation and whether users
      #find what they're searching for. With your consent, you're helping us to
      #make our documentation better.
  generator: false
  use_directory_urls: true
  social:
    - icon: fontawesome/solid/globe
      link: https://ozfortress.com
    - icon: fontawesome/brands/discord
      link: https://discord.gg/7E6kC2H
    - icon: fontawesome/brands/patreon
      link: https://www.patreon.com/ozfortress/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/ozfortress
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCKnMgeTAHzdttd8TXE9UOgw
    - icon: fontawesome/brands/steam
      link: https://steamcommunity.com/groups/ozfortress
    - icon: fontawesome/brands/facebook
      link: https://facebook.com/ozfortress
    - icon: fontawesome/brands/github
      link: https://github.com/ozfortress
extra_css:
  - stylesheets/extra.css