:root > * {
    --md-primary-fg-color: #00abba;
    --md-primary-fg-color--light: #00abba;
    --md-primary-fg-color--dark: #00abba;
    --md-accent-fg-color: #00abba;
    --md-footer-bg-color: var(--md-code-bg-color);
    --md-footer-fg-color: var(--md-typeset-color);
}

.md-typeset a {
    color: #00abba;
}

.md-typeset a:hover {
    color: #0060ba;
}

.md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link--active {
    color: #00abba;
}

.grid-item {
    background-color: var(--md-footer-bg-color);
    border-left: 4px solid var(--md-footer-bg-color);
    padding: 10px 18px 10px 18px;
    text-align: left;
    transition: ease 0.3s;
}
  
.grid-item:hover {
    border-left: 4px solid var(--md-accent-fg-color);
    transition: ease 0.3s;
}
  
.grid-item h5 {
    color: var(--md-typeset-color);
    font-size: 16px;
    font-weight: 600;
    transition: ease 0.3s;
}
  
.grid-item hr {
    background-color: var(--md-typeset-color);
}
  
.grid-item p {
    color: var(--md-typeset-color);
}