@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root > * {
    --md-primary-fg-color: #111111;
    --md-primary-fg-color--light: #111111;
    --md-primary-fg-color--dark:#111111;
    --md-accent-fg-color: #00abba;
    font-family: 'Inter', sans-serif;
}